{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <section class="canvas">
  	<div id="points-container"></div>
  	<!-- <h1 data-module="example">{{ titleMessage }}</h1> -->
  </section>
{% endblock %}
