@import "base/typography";
@import "mixins/mixins";

/* Get base/reset */


/* full-screen body  */
html, body {
    margin: 0;
    height: 100%;
}

body {
	position: relative;
  background: #45485A;
  overflow: hidden;
}
/* 	Canvas is centered on the full-screen and one side
		is almost always bigger than the other, thus some 
		elements near the edges may not appear on-screen */
.canvas {
	position: absolute;
	top: 50%;
	left: 50%;	
	width: 100vmin;
	height: 100vmin;
	transform: translate(-50%, -50%);
}

#points-container {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}

$point-size: 0.25vmax;
.point-container {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: top left;
	// in case you want to see the lines:
	// height: 1px;
	// background: red;

	.point {
		display: block;
		position: absolute;
		left: 100%;
		// transform: translate(-50%, -50%);
		@include size-square($point-size);
		opacity: 0;
		@include roundCorners();
		animation-name: life-span;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}
}
// ANIMATIONS
@keyframes life-span {
  0% {
  	background: white;
  	opacity: 1;
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  },
  95% {
  	background: white;
  	transform: scale(1);
  	},
  100% {
  	opacity: 1;
  	background: black;
  }
}
